.song_list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    margin: 1.25rem auto;
}
genre{
    color: black;
    background-color: #FFD60A;
    border-radius: 1rem;
    padding: .05rem .4rem;
    line-height: 1.4rem;
}
.socials_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    margin: 1.3rem auto;
}
.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}
.socials:hover {
    border: 2px solid #FFD60A;
    cursor: pointer;
}
.socials img{
    justify-self: center;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 2.1rem;
    margin: 2rem;
}
.socials_container a {
    margin-left: 1rem;
}