img {
    width: 100%;
    object-fit: cover;
}
.title {
    font-size: 2.2rem;
    color: #FFD60A;
    line-height: 2rem;
    margin-bottom: 0;
}
.main_body {
    padding-left: 10vw;
    width: inherit;
}
.reference {
    font-size: 1rem;
    margin: 0;
}
.indent {
    margin-left: 3rem;
}