.images_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 7vh; /*Global Value*/
}
@media screen and (max-width: 786px) {
    .images_container{
        grid-template-columns: 1fr;
    }
}
.images_container img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.images_container img:hover {
    cursor: pointer;
    border: 2px solid #FFD60A;
}
.images_container video {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.images_container video:hover {
    border: 2px solid #FFD60A;
}